# Dependencies
node_modules/
pnpm-lock.yaml

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local
.local.env

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Misc
*.tsbuildinfo
